header {
  height: 76px;
  padding: .68em 1em;
  color: #666;
  margin: 0 auto;
  max-width: 1440px;
}

header img {
  max-width: 400px;
  max-height: 71px;
}

.head-box {
  background-color: #1c1c1c;
  color: white;
  padding: 80px;
  margin-top: 15px;
  font-family: 'Open Sans', sans-serif;
}

.head-box h1 {
  font-family: 'Varela Round', sans-serif;
  font-size: 50px;
  margin: 25px 0;
}

.head-box p {
  font-size: 25px;
  line-height: 1.0;
}

.head-box button {
  margin: 10px;
  color: white;
  background-color: #00B3B4;
}

.form-check-inline {
  margin: 10px 5%;
}

.card {
  border: 2px solid lightgray;
  width: 60%;
  margin: 20px auto;
}

.question-card img {
  width: 200px;
  border-radius: 5px;
  margin: 5px 3%;
}

.card-header{
  color: white;
  background-color: #00b3b4;
}

.card-header p {
  margin: 0;
}

.course-card .card-header {
  background-color: black;
}

.course-card p {
  padding: 25px;
  line-height: 1.75;
}

.course-card button {
  margin: 10px;
  color: white;
  background-color: #00b3b4;
}

.course-card a {
  margin: 0 25px;
  color: #00b3b4;
}

.modal {
  font-family: "Open Sans", sans-serif;
}

.modal-body {
  background-color: #1c1c1c;
}

.modal-header {
  font-family: "Varela Round", sans-serif;
}

.goodbye-box {
  font-size: 25px;
  line-height: 1.0;
}

.goodbye-box {
  background-color: #1c1c1c;
  color: white;
  padding:  30px 80px;
  margin-top: 15px;
  font-family: 'Open Sans', sans-serif;
}

.goodbye-box p{
  max-width: 80%;
  line-height: 1.5;
}

.goodbye-box h1 {
  font-family: 'Varela Round', sans-serif;
  font-size: 50px;
  margin: 25px 0;
}

.goodbye-box h2 {
  margin: 25px 0;
}

.goodbye-box img {
  max-width: 300px;
  float: right;
  border-radius: 110px;
}


.my-hide {
  display: none;
}

.btn {
  border: 1px solid lightgray;
}

#main-submit {
  display: block;
  color: white;
  background-color: #00B3B4;
  margin: 20px auto;
}
